ldap {
  org.apache.geronimo.security.realm.providers.LDAPLoginModule REQUIRED debug=true
  initialContextFactory="com.sun.jndi.ldap.LdapCtxFactory"
  connectionURL="ldap://localhost:1389"
  connectionUsername="cn=admin,dc=java,dc=no"
  connectionPassword="secret"
  authentication="simple"
  userBase="ou=People,dc=java,dc=no"
  userSearchMatching="uid={0}"
  userSearchSubtree="false"
  roleBase="ou=Group,dc=java,dc=no"
  roleName="cn"
  roleSearchMatching="(uniqueMember={0})"
  roleSearchSubtree="true";

  no.java.security.MyServiceLoginModule REQUIRED
  debug=true
  ;
};
