ldap-admin {
  no.java.admin.jaas.LdapLoginModule REQUIRED
//  org.mortbay.jetty.plus.jaas.spi.LdapLoginModule REQUIRED
  debug="true"
  contextFactory="com.sun.jndi.ldap.LdapCtxFactory"
  hostname="localhost"
  port="1389"
//  bindDn="cn=Directory Manager"
//  bindPassword="directory"
//  authenticationMethod="simple"
  forceBindingLogin="true"
  userBaseDn="ou=People,dc=java,dc=no"
  userRdnAttribute="uid"
  userIdAttribute="uid"
  userPasswordAttribute="userPassword"
  userObjectClass="inetOrgPerson"

  roleBaseDn="ou=Group,dc=java,dc=no"
  roleNameAttribute="cn"
  roleMemberAttribute="uniqueMember"
  roleObjectClass="groupOfUniqueNames";
};
